<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal MVC Core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/value-utils.js"></script>

    <script src="https://kit.fontawesome.com/9085e3ff95.js" crossorigin="anonymous"></script>

    @* Loading Panel(jquery.blockUI) *@
    <script src="~/lib/jquery.blockUI/jquery.blockUI.js"></script>
    <script src="~/js/loading-panel.js"></script>
    @* ------------- *@

    @* Alert(lobibox-master) *@
    <link rel="stylesheet" href="~/lib/lobibox-master/css/lobibox.min.css" />
    <script src="~/lib/lobibox-master/js/lobibox.js"></script>
    <script src="~/js/alert-lobibox.js"></script>
    @* ------------- *@

    @* JqGrid *@
    <link rel="stylesheet" type="text/css" href="~/lib/jqGrid-master/css/ui.jqgrid.css" />
    <script src="~/lib/jqGrid-master/js/jquery.jqgrid.min.js"></script>
    @* ------------- *@

    @* JqUI *@
    <link href="~/lib/jquery-ui-1.13.3.custom/jquery-ui-custom.css" rel="Stylesheet" type="text/css" />
    <script type="text/javascript" src="~/lib/jquery-ui-1.13.3.custom/jquery-ui.js"></script>
    @* ------------- *@

    <script src="~/lib/jquery.mask.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/jquery.fileupload.js"></script>

    @* smartmenus *@
    <link rel="stylesheet" type="text/css" href="~/lib/smartmenus-1.1.1/css/sm-core-css.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/smartmenus-1.1.1/css/sm-custom/sm-custom.css" />
    <script src="~/lib/smartmenus-1.1.1/jquery.smartmenus.js"></script>
    @* ------------- *@

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            OnGetDadosHeader('@ViewContext.RouteData.Values["Controller"]');
        })
    </script>

    <section class="full-area menu-closed">
        <header>
            <div class="branding">
                <img src="~/images/logo-empresa.png" height="50" width="190" alt="Portal MVC Core" />
            </div>
            <nav>
                <div class="user off">
                    <div class="info">
                        <strong id="strUsuario">
                            <div class="text-ellipsis">
                                <span id="spUsuario" style="font-size:15px;"></span>
                            </div>
                            <span id="spUsuariopqn"></span>
                        </strong>
                    </div>
                    <ul class="sub">
                        <li>
                            <a title="Alterar senha" onclick="OnShowWinAlterarSenha()">
                                <i class="fa fa-lock" aria-hidden="true"></i> <span>Alterar senha</span>
                            </a>
                        </li>
                        <li>
                            <a title="Sair" onclick="OnLogout()">
                                <i class="fa fa-sign-out" aria-hidden="true"></i> <span>Sair</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <button class="menu-mobile">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </nav>
        </header>

        <aside>
            <div class="div-aside-menu">
                <ul id="main-menu" class="sm sm-vertical sm-custom">
                    <li>
                        <a asp-controller="Home" asp-action="Index" class="menu-main-group">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>
                                Home
                            </span>
                        </a>
                    </li>

                    <li id="grmCadastro" style="display:none;">
                        <a href="#" class="menu-main-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <span>
                                Cadastros
                            </span>
                        </a>
                        <ul>
                            <li id="atmUsuarios" style="display:block;">
                                <a asp-controller="Usuarios" asp-action="Index" class="sidebar-link" title="Usuários">Usuários</a>
                            </li>
                            <li id="atmClientes" style="display:block;">
                                <a asp-controller="Clientes" asp-action="Index" class="sidebar-link" title="Clientes">Clientes</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <footer>
                    <div class="p-3 text-center text-white">2024. Portal MVC Core - Todos os direitos reservados. Versão: 1.0</div>
                </footer>
            </div>
        </aside>
        <div class="miolo miolo-menu">
            @RenderBody()
        </div>
    </section>

    <script>
        // Apenas para não dar alerta nos campos decimais por conta do formato pt-br ao dar lostfocus
        // Tem q ser colocado no final da pagina
        $("#frm").validate({
        });
    </script>
</body>

</html>
