

<div class="col d-flex text-center" style="height: calc(100vh - 80px);">
    <div style="width:500px; margin:auto;">
        <div class="col">
            <h1>
                Acesso negado!!!
            </h1>
        </div>
        <div class="col">
            <i class="fa-solid fa-ban fa-5x text-danger"></i>
        </div>
        <div class="col">
            <h1>
                Acesso não permitido ao seu perfil!!!
            </h1>
        </div>
    </div>
</div>
